<h1 class="pt-4">Albums</h1>

<div *ngIf="albumTable">
  <div class="row" *ngFor="let albumRow of albumTable; let i=index;">
    <div class="col-md-3 mb-2" *ngFor="let album of albumRow" >

      <div class="card h-100 dark-bg text-white">
        <img #thumb class="card-img-top" [src]="playerService.getCoverUrl() + album.coverId + '?w=' + thumb.offsetWidth">
        <div class="card-body">
          <a routerLink="/album/{{album.id}}"><h5 class="card-title">{{album.name}}</h5></a>
          <a *ngIf="album.artist" routerLink="/artist/{{album.artist.id}}"><h6 class="card-subtitle mb-2 bright-text" *ngIf="album.artist">{{album.artist.name}}</h6></a>
          <p class="card-text" *ngIf="album.description">{{album.description}}</p>
        </div>
        <div class="card-footer">
          <button (click)="playAlbum(album.id)" class="btn icon btn-red btn-block">Play <i class="material-icons">play_circle_filled</i></button>
        </div>
      </div>

    </div>
  </div>
</div>
