<nav class="navbar fixed-bottom navbar-dark dark-bg justify-content-center">

    <span class="navbar-text" *ngIf="playlist">
        <a [routerLink]="playlist.originUrl">
            {{playlist.current.artist.name}} - {{playlist.current.name}}
        </a>
    </span>

    <div class="form-inline flex-grow-1" *ngIf="playlist">
        <div class="progress w-100 mx-3" #progBar (click)="seekBar($event)" >
            <div class="progress-bar neon-bg" role="progressbar" [ngStyle]="{'width.%': progress}" >
                <span class="label">{{time}} / {{timeTotal}}</span>
            </div>
        </div>
    </div>

    <div class="form-inline">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" [class.disabled]="!playlist" (click)="prev()"><i class="material-icons">skip_previous</i></button>
            <button type="button" class="btn btn-primary" [class.disabled]="!playlist" (click)="togPlayback(null)"><i class="material-icons">{{playing ? 'pause' : 'play_arrow'}}</i></button>
            <button type="button" class="btn btn-primary" [class.disabled]="!playlist" (click)="next()"><i class="material-icons">skip_next</i></button>
        </div>
    </div>
</nav>

<audio *ngIf="playlist" #player autoplay src="{{playerService.getUrl(playlist.current.id)}}" (ended)="next()" (play)="playing=true"
    (timeupdate)="updateProgress()" (durationchange)="updateDuration()" (stalled)="playbackStalled($event)" (document:keydown.space)="togPlayback($event)"></audio>