<nav class="navbar fixed-top navbar-expand-lg navbar-dark nav-main">
  <a class="navbar-brand" href="#">dPlayer</a>
  <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="isActive('\/$')">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [class.active]="isActive('\/albums')">
        <a class="nav-link" routerLink="/albums">Albums</a>
      </li>
      <li class="nav-item" [class.active]="isActive('\/artists')">
        <a class="nav-link" routerLink="/artists">Artists</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" size="30" aria-label="Search" #querybox (input)="onSearchChange(querybox.value)" (keydown)="stopBubble($event)">
    </form>
  </div>
</nav>