<h1 class="pt-4">Artists</h1>

<div *ngIf="artistTable">
  <div class="row" *ngFor="let artistRow of artistTable; let i=index;">
    <div class="col-md-3 mb-2" *ngFor="let artist of artistRow">

      <div class="card h-100  dark-bg text-white" >
        <img #thumb class="card-img-top" [src]="playerService.getCoverUrl() + artist.coverId + '?w=' + thumb.offsetWidth">
        <div class="card-body">
          <a routerLink="/artist/{{artist.id}}"><h5 class="card-title">{{artist.name}}</h5></a>
          <p class="card-text" *ngIf="artist.description">{{artist.description}}</p>
        </div>
        <div class="card-footer">
          <button (click)="play(artist.id)" class="btn icon btn-primary btn-block">Play <i class="material-icons">play_circle_filled</i></button>
        </div>
      </div>

    </div>
  </div>
</div>
