
<div class="row py-4" *ngIf="result">
    <div class="col-3">
        <img src="{{playerService.getCoverUrl() + result.coverId}}" class="img-fluid img-thumbnail" />
    </div>
    <div class="col">
        <h1 class="display-4">{{title}}</h1>
        <h3 class="bright-text">{{result.artist.name}}</h3>
    </div>
</div>

<app-playlist *ngIf="list" [playlist]="list"></app-playlist>
