<div *ngIf="playlist">
  <table class="table table-dark dark-bg text-white">

    <thead>
      <tr>
        <th scope="col" *ngIf="showCovers"></th>
        <th scope="col"></th>
        <th scope="col">Track</th>
        <!-- <th scope="col"></th> -->
        <th scope="col">Artist</th>
        <th scope="col">Album</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let track of playlist.tracks; let i = index" [class.table-active]="isPlaying(i)" (click)="play(i)">
        <td *ngIf="showCovers"><img class=" cover" src="{{playerService.getCoverUrl(track)}}"></td>
        <th scope="row">{{track.trackNo}}</th>
        <td>{{track.name}}</td>
        <!-- <td>{{duration(track.duration)}}</td> -->
        <td><a routerLink="/artist/{{track.artist.id}}" *ngIf="track.artist" class="bright-text">{{track.artist.name}}</a></td>
        <td><a routerLink="/album/{{track.album.id}}" *ngIf="track.album" class="bright-text">{{track.album.name}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
