/* Coolors Exported Palette - coolors.co/dd7371-465775-56e29e-090c08-f3e8ee */

/* HSL */
$red: hsla(1%, 61%, 65%, 1);
$blue: rgba(46, 82, 180, 1);
$neon: hsla(151%, 71%, 61%, 1);
$dark: hsla(224%, 10%, 18%, 1);
$bright: hsla(327%, 31%, 93%, 1);
$text-bright: #fff;

/* RGB */
// $color1: rgba(221, 115, 113, 1);
// $color2: rgba(70, 87, 117, 1);
// $color3: rgba(86, 226, 158, 1);
// $color4: rgba(9, 12, 8, 1);
// $color5: rgba(243, 232, 238, 1);