@import 'palette';

.dark-bg {
    background-color: $dark !important;
    .card-img-top {
        background-color: $bright;
    }
    // color: $bright;
}

.nav-main {
    $gdark: lighten($dark, 5);
    background: linear-gradient($dark, 15%, $gdark, 85%, $dark);
}

// .table-dark {
//     background-color: $dark !important;
// }

.bright-bg {
    background-color: $bright !important;
}

.bright-text {
    color: rgba(255,255,255,0.87) !important;
    // color: $bright !important;
}

.neon-bg {
    background-color: $neon !important;
}

.blue-bg {
    background-color: $blue !important;
}

.btn-red {
    color: $bright;
    background-color: $red;
    border-color: $red;
    text-shadow: rgba(0,0,0,0.4) 0px 0px 10px;
    &:hover {
        background-color: darken($red, 5);
        border-color: darken($red, 5);
    }
}

.btn-neon {
    color: $bright;
    background-color: darken($neon, 10);
    border-color: darken($neon, 10);
    text-shadow: rgba(0,0,0,0.4) 0px 0px 10px;
    &:hover {
        background-color: darken($neon, 15);
        border-color: darken($neon, 15);
    }
}

body {
    // background-color: lighten( $dark, 15) !important;
    background-color: saturate( $neon, 15) !important;
    // background-color: $bright;
    color: $text-bright;
    h1, h2, h3, h4, h5, h6 {
        color: $text-bright;
    }
}

.btn {
    .material-icons {
        height: 1rem;
        line-height: 1rem;
        top: .3rem;
        margin-top: -1rem;
        position: relative;
    }
}

.btn.icon {
    .material-icons {
        margin: -1rem -0.42rem 0 .1rem;
    }
}
